* {
  margin: 0;
  padding: 0;
}


@font-face {
  font-family: MochiyPopPOne-Regular;
  src:url("MochiyPopPOne-Regular.ttf");
}

body {
  background-image: url("prueba1.png");
  background-size: cover;
}

.contenedor {
  display: flex;
  position: relative;
  justify-content: center;
}

.hijo {
  margin-top: 60%;
  position: absolute;
}

.letra {
  display: block;
  position: relative;
  text-align: center;
  height: 100px;
  width: 100px;
  margin: auto;
  top: 10px;
}

.letra span {
  color: rgb(0, 145, 147);
  font-family: MochiyPopPOne-Regular;
  font-size: 150%
}

.btn {
    display: block;
    width: 150px;
    height: 40px;
    outline: none;
    border: 1px solid rgb(0, 145, 147);
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    color: rgb(0, 145, 147);
    cursor: pointer;
    margin: 50px auto;
    transition: all .25s;
    z-index: 1;
    position: relative;
    text-transform: uppercase;

}

.btn:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    border-radius: 6px;
    background-image: linear-gradient(to right, rgb(148, 255, 255), rgb(0, 145, 147) );
    transition: all .25s;
    z-index: -1;
}

.btn:hover {
    border: 1px solid transparent;
    color:rgb(255, 255, 255)
}

.btn:hover::before{
    height: 100%;
}

.frutas {
  height: 20px;
  width: 20px;
}
